:root {
  --primary-color-accent: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --color-text: #ffffff;
  --primary-color-bg: #ffffff;
  --secondary-color-bg: #f5f4fa;
  --color-bg: #2f303a;
  --secondary-color-btn: #188ce8;
}
body {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  background: var(--primary-color-bg);
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
/* components */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}
.portfolio-list {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
/* header */
.header-container {
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.nav-list {
  display: flex;
}

.logo,
.logo-black {
  margin: 24px 93px 25px 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-color-accent);
}
.logo-black {
  color: var(--secondary-text-color);
}

.nav-link {
  margin-right: 50px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--primary-color-accent);
}
.contact-link {
  margin-right: 50px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--primary-color-accent);
}
/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 95px;
  background: var(--color-bg);

  text-align: center;
}
.hero-text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text);
}
.btn {
  padding: 10px 32px;
  min-width: 200px;
  border: transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-text);
  background: var(--primary-color-accent);
}
.btn:hover,
.btn:focus,
.btn:visited {
  background: var(--secondary-color-btn);
}
/* features */
.features-list {
  display: flex;
}
.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.features-list-text {
  line-height: 1.71;
  color: var(--primary-text-color);
}
/* make-section */
.make-list {
  display: flex;
}
/* team */
.team-list {
  display: flex;
}
.team-section {
  background: var(--secondary-color-bg);
}
.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}
.team-item-prof {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}
/* footer */
.footer-section {
  background: var(--color-bg);
}
.address-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--color-text);
}
.address-link:hover,
.address-link:focus {
  color: var(--primary-color-accent);
}
.address-contact-link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address-contact-link:hover,
.address-contact-link:focus {
  color: var(--primary-color-accent);
}
.logo-white {
  color: var(--color-text);
}
/* portfolio.html */
/* button */
.portfolio-list {
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-text-color);
  background: var(--secondary-color-bg);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--primary-color-accent);
  color: var(--color-text);
  cursor: pointer;
}
/* card */
.portfolio-card-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.portfolio-card-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  width: calc((100%-60px) / 3);
}
.portfolio-card-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
